*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: #ff015f;
    color:black;
    display:flex;
    width:100%;
    padding: 10px;
}
.coninfo{
    margin-left: 60%;
    padding-top: 20px;
    cursor:pointer;
    
}
.coninfo:hover{
    color:aliceblue;
    text-decoration:underline;

}

.firsth1{
    padding-left:20px;
    padding-top:10px;
    padding-bottom:0px;
}
.search{
    background-color: gray;
    padding:20px;
    text-align: center;
    
}
.search input{
    text-align: center;
    font-style: italic;
    border-radius: 5px;
    padding-top:5px;
    padding-bottom:5px;
    width:40%;
}
.box{
    padding:10px;
    display: flex;
    flex-wrap: wrap;

}

.cont{
    background-color: #ff015f;
    color:black;
    width:20%;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
        
}
.cont button{
    background-color:black;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
   
}



.but{
    background-color: #ff015f;
    color: black;
    border-radius: 100%;
    padding:20px;
    border:none;
    position: fixed;
    right: 40px;
    bottom: 30px;
    margin-top:20px ;
   
}
.box2{ 
    position: absolute;
    z-index: 1;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    top:0;
    left:0;
    display: none;} 

.popupbox{
     border-width:none; 
    background-color:  #ff015f; ;
    color: black;
    width:20%;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    left: 40%;
    top:30%;
    
    display: none;
}
.popupbox input{
    border-width:none;
    background-color: black;
    color: white;
    width:80%;
    padding:10px;
    margin:10px;
}
.popupbox textarea{
    position: relative;
    left: 10px;
    background-color: black;
    color: white;
    padding: 10px;

}
.popupbox button{

    background-color: black;
    color: white;
    border-radius: 10px;
    width: 60px;
    display: block;
    margin-left :70px;
    margin-top: 10px;
}

